<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container">
        <div class="card" id='ask-form'>
            <div class="card-header">
                <h1>Ask your question</h1>
            </div>
            <div class="card-body">
                <form method='POST' action="/saveQuestion">
                    <label>Title</label>
                    <input type='text' placeholder="Type your question title" class="form-control" name='title'>
                    <br><label>Description</label>
                    <textarea type='text' placeholder='Type your question' class='form-control' name='description'></textarea><br>
                    <button class='btn btn-success'>Ask</button> 
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('partials/footer.ejs') %>